
.search-container {
    margin-bottom: 20px;
    
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    background-color: rgb(12, 12, 12);
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(240, 96, 96);
  }
  
  .tile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
  }
  
  .recommendation-tile {
    text-align: center; 
    padding: 10px;
    width: 250px; 
    transition: background-color 0.3s; 
  }
  
  .recommendation-tile a {
    text-decoration: none; 
    color: inherit; 
  }
  
  .recommendation-tile:hover {
    background-color: #f36060; 
  }
  
  .recommendation-tile a:hover {
    text-decoration: none; 
    color: inherit; 
  }

  @font-face {
    font-family: myFont;
    src: url("font/nasalization-rg.otf");
  }
  body, html {
    font-family: myFont;
    text-align: center;
    font-size: 16px;
    
    
  }
  
  
  main{
    padding: 15px;
  }
  header {
    display: block;
    width: 100%;
  }
  .hero-image {
    background-image: url("slike/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 920px;
  
  }
  
  .banner-image {
    background-image: url("slike/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 150px;
  
  }
  

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }
  li {
    float: left;
  
  }
  li a {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  
  li a:hover {
    background-color: rgb(255, 255, 255);
  
  }
  
  .hover_line::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: crimson;
    transition: width .1s;
    margin: auto;
    left: 0;
    right: 100%;
  }
  
  .hover_line:hover::after{
    width: 100%;
    transition: width .1s;
    right: 0;
  }
  
  
  